body {
  margin: 0px;
  height: 100vh;
  width: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

img {
  width: 100%;
}

header {
  height: 100px;
}

.container-nav {
  background: white;
  color: #222222;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  height: 80px;
  margin: 0 0 0 0;
  z-index: 289;
}

.navbar {
  padding: 1em;
  overflow: hidden;
}

.navbar h1 {
  font-size: 1.6em;
  color: #2600BF;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar h1:hover {
  font-size: 1.8em;
  color: #2600BF;
}

.navbar a {
  font-size: 1em;
  font-weight: lighter;
  color: #222222;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  display: block;
}

.navbar a:hover {
  font-size: 1.4em;
  color: #1511cd;
}

.navbar nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  float: left;
  padding: 10px;
}

.welcome {
  height: auto;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  z-index: -1;
}

.welcome-section-left {
  background: #8a6eff;
  background: -webkit-gradient(linear, left top, left bottom, from(#8a6eff), color-stop(100%, #2600bf), to(#8a6eff));
  background: linear-gradient(180deg, #8a6eff 0%, #2600bf 100%, #8a6eff 100%);
  border-radius: 0 0 8em 0;
  padding: 8rem;
}

.welcome-section-left h1 {
  color: white;
  font-size: 50px;
}

.poppins-20px {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
}

.poppins-30px {
  color: white;
  font-size: 30px;
}

.contact-button {
  color: #3819CA;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: white;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  cursor: pointer;
}

.contact-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.welcome-section-right-socials {
  display: none;
}

.skills {
  background-color: #FAFAFA;
  padding: 40px;
  min-height: 100px;
  overflow: hidden;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skills-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.skills h1 {
  font-size: 3em;
  color: #2600BF;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
}

.skills-section img {
  max-width: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-html {
  padding: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  width: 50%;
  position: relative;
}

.skill-html img {
  max-width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.skill-css {
  padding: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  width: 50%;
  position: relative;
}

.skill-css img {
  max-width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.skill-js {
  padding: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  width: 50%;
  position: relative;
}

.skill-js img {
  max-width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.skills-text {
  font-family: poppins, Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  color: #4E4E4E;
}

progress {
  border-radius: 7px;
  width: 100%;
  height: 22px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
  background-color: white;
  border: 1px solid #8A6EFF;
  padding: 2px;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #3819CA;
  border-radius: 7px;
}

.portfolio-section .project1 {
  min-height: 100px;
  padding: 20px;
}

.portfolio-section h1 {
  font-size: 3em;
  color: #2600BF;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.portfolio-section .poppins-20px-violet {
  color: #2600BF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
  text-align: center;
}

.portfolio-section .poppins-70px-black {
  font-size: 3em;
  color: #222222;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.portfolio-section .poppins-30px-black {
  color: #222222;
  font-size: 30px;
  text-align: center;
}

.portfolio-section .button1-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-section .portfolio-button1 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: #3819CA;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  cursor: pointer;
}

.portfolio-section .portfolio-button1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-section img {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.portfolio-section img :hover {
  width: 120%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project2 {
  min-height: 100px;
  padding: 20px;
}

.project2 h1 {
  font-size: 3em;
  color: #2600BF;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.poppins-20px-violet {
  color: #2600BF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
  text-align: center;
}

.poppins-70px-black {
  font-size: 3em;
  color: #222222;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.poppins-30px-black {
  color: #222222;
  font-size: 30px;
  text-align: center;
}

.button2-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-button2 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: #3819CA;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.portfolio-button2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

img {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

img :hover {
  width: 120%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project3 .button3-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project3 .portfolio-button3 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: #3819CA;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.project3 .portfolio-button3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.all-projects-button-container {
  width: auto;
  height: 300px;
  position: relative;
  margin-bottom: 200px;
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-projects {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: #3819CA;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.all-projects:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-section h1 {
  font-size: 3em;
  color: #222;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.about-section .poppins-20px-black {
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0fr;
}

.about-section .poppins-70px-violet {
  font-size: 3em;
  color: #2600BF;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 0px;
}

.about-section .poppins-30px-black-description {
  color: #222222;
  font-size: 20px;
  text-align: justify;
  padding: 70px;
}

.about-section img {
  max-width: 40%;
}

.call-to-action .poppins-20px-black {
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0fr;
}

.call-to-action h1 {
  font-size: 3em;
  color: #2600BF;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.call-to-action .contact-end {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 5em;
  border: 0;
  border-radius: 10px;
  background: #3819CA;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.contact-end-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.contact-end:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  width: 100%;
}

footer .footer-container {
  height: auto;
  width: auto;
  overflow: hidden;
  background: #8a6eff;
  background: -webkit-gradient(linear, left top, left bottom, from(#8a6eff), color-stop(100%, #2600bf), to(#8a6eff));
  background: linear-gradient(180deg, #8a6eff 0%, #2600bf 100%, #8a6eff 100%);
  border-radius: 8em 0 0 0;
  padding: 8rem;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

footer .left {
  color: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 40px;
  margin-right: 20%;
}

footer .right {
  margin-left: auto;
  margin-right: 20%;
  color: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  width: 20px;
}

footer .shortcut-links a {
  display: inline-block;
  margin: auto;
  text-align: center;
  color: white;
}

footer .poppins-20px-white {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0fr;
}

@media only screen and (min-width: 950px) {
  .welcome .left-container {
    width: 80%;
    float: left;
  }
  .welcome .right-container {
    width: 10%;
    float: right;
    position: relative;
  }
  .welcome .welcome-section-left {
    float: left;
  }
  .welcome .welcome-section-right-socials {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  .skills-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    place-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }
  .skill-html {
    height: 60px;
    width: 100px;
    margin: 20px 20px 20px 20px;
    position: relative;
  }
  .skill-html progress {
    width: 120px;
    position: relative;
    right: 10px;
  }
  .skill-css {
    margin: 20px 20px 20px 20px;
    max-height: 60px;
    max-width: 100px;
  }
  .skill-js {
    margin: 20px 20px 20px 20px;
    max-height: 60px;
    max-width: 100px;
  }
  .skill-js p {
    text-align: center;
    position: relative;
    right: 52px;
  }
  .portfolio-section img {
    width: 600px;
  }
  .project1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .project1 p {
    margin: 0;
  }
  .button1-container {
    height: 0;
    margin-top: 5px;
  }
  .project2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .project3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .left {
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
/*# sourceMappingURL=style.css.map */