body{
    height: 100vh;
    width: 100%;
    margin: 0;
   /*background: rgb(138,110,255);*/
   /* background: linear-gradient(45deg, rgba(138,110,255,1) 0%, rgba(57,16,215,1), rgba(47,0,84,1) 100%); */
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.container{
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.logo img{
    width: 80px
}

.content{
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 100%;
    padding: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h4{
    font-weight: 300;
    transition: all 100ms ease-in-out;
    color: #3819CA;
}

h4:hover{
    transform: scale(1.2);
    color: white
}

.link{
    text-align: left;
    color: white;
    margin: 20px 20px auto;

}

#full-short-link a{
    text-decoration: none;
    color: white;
}

#full-short-link2 a{
    text-decoration: none;
    color: white;
}

#full-short-link3 a{
    text-decoration: none;
    color: white;
}

input{
    text-align: center;
    height: 50px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 100ms ease-in-out;
}

input:hover{
    transform: scale(1.2);
    color: rgba(47,0,84,1);
    border: none;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{ 
    color: #3819CA;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 600;
    padding: 1em 5em;
    border: 0;
    border-radius: 10px;
    background: white;
    transition: all 100ms ease-in-out;
    box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
}

