### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule buy-dodge-challenger index.html
RewriteRule pictures-of-dodge-challenger gallery.html
RewriteRule informations-about-dodge-challenger about.html
RewriteRule get-your-dodge-challenger buy.html
RewriteRule contact-about-dodge-challenger contact.html